# ===================================================================
# Файлы и папки, сгенерированные Gradle (результаты сборки)
# ===================================================================
.gradle
build/

# Исключение для Gradle Wrapper, он ДОЛЖЕН быть в Git
!gradle/wrapper/gradle-wrapper.jar


# ===================================================================
# Файлы и папки, сгенерированные IntelliJ IDEA
# ===================================================================
# Папка с настройками проекта для конкретного пользователя
.idea/

# Сгенерированные файлы модулей
*.iml


# ===================================================================
# Другие сгенерированные файлы и логи
# ===================================================================
# Лог-файлы
*.log

# Файлы, сгенерированные JVM при падении
hs_err_pid*
replay_pid*


# ===================================================================
# Системные файлы macOS и Windows
# ===================================================================
.DS_Store
Thumbs.db